@import "tailwindcss";

.masonry {
  columns: 2;
  column-gap: 1rem;
}

@media (min-width: 768px) {
  .masonry {
    columns: 3;
  }
}

@media (min-width: 1280px) {
  .masonry {
    columns: 4;
  }
}

.masonry > * {
  break-inside: avoid;
  margin-bottom: 1rem;
}
